* {
    margin: 0;
    padding: 0;
    font-family: Serif;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(Portfolio-img/black.png); 
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vw;
    background: rgba(0, 0, 0, 0.5);
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    margin: 1vw;
    font-size: 1vw;
    font-weight: normal;
    
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 3vw; 
    padding: 1.5vw;
    font-weight: normal;
}

.hobbies-and-skills {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 5vw; 
    margin-top: 100px;
}

.hobbies-and-skills h1 {
    font-size: 6vw;
    margin-top: 2vw;
    color: #ffffff; 
    margin-bottom: 2vw;
    font-weight: normal;
}

.hobbies-and-skills p3 {
    color: #ffffff; 
    font-size: 3vw; 
    line-height: 1.5;
    margin-top: 5vw;
    font-weight: normal;

}


h3 {
    font-size: 5vw; 
    margin: 2vw 0;
    margin-top: 50px;
    color: #ffffff;
    font-weight: normal;
}

.red-box {
    border: 1.5vw solid #990000;    
    background-color: #990000;   
    color: white;           
    padding: 2vw;     
    box-sizing: border-box;   
    width: 90%;           
    max-width: none;  
    margin: 2vw auto;   
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2vw; 
    margin-top: 50px;
}

.image-container img {
    width: 90%; 
    height: auto; 
    max-width: 80vw;
    object-fit: cover; 
    border-radius: 1vw; 
}

.footer{
    background-color: black;
    padding: 2vw; 
    text-align: center; 
    color: white; 
    font-size: 3vw; 
    font-weight: normal;
}

@media screen and (max-width: 425px) {
    .header {
        padding: 2vw;
    }

    .nav-links ul {
        flex-direction: row; 
        align-items: center;
    }
    .nav-links ul li a {
        font-size: 3vw;
        padding: 2vw;
        font-weight: normal;
      }
    .hobbies-and-skills h1 {
        font-size: 7vw; 
        font-weight: normal;
    }

    .hobbies-and-skills p{
        font-size: 3.5vw;
        font-weight: normal;
    }

    .hobbies-and-skills p3 {
        font-size: 3.5vw; 
        font-weight: normal;
    }

    .hobbies-and-skills h3 {
        font-size: 4vw; 
        font-weight: normal;
    }

    .red-box {
        max-width: 100%;
    }

    .image-container img {
        width: 80vw; 
        height: auto;
    }

    .footer p5{
        font-size: 1.8vw; 
        font-weight: normal;
    
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 2vw;
    }

    .nav-links ul {
        justify-content: flex-end;
        font-size: 1vw;
        font-weight: normal;
      }
    .nav-links ul li a {
        font-size: 3vw; 
        padding: 2vw;
        font-weight: normal;

    }

    .footer p5 {
        font-size: 2vw; 
        font-weight: normal;
    }

    .hobbies-and-skills h1 {
        font-size: 7vw; 
        font-weight: normal;
    }

    .hobbies-and-skills p{
        font-size: 3.5vw;
        font-weight: normal;
    }

    .hobbies-and-skills p3 {
        font-size: 3.5vw; 
        font-weight: normal;
    }

    .hobbies-and-skills h3 {
        font-size: 4vw; 
        font-weight: normal;
    }

    .footer p5{
        font-size: 1.8vw; 
        font-weight: normal;
    
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .nav-links ul {
        justify-content: flex-end;
        font-size: 1vw;
        font-weight: normal;
    }

    .nav-links ul li a {
        font-size: 2vw; 
        padding: 1vw;
        font-weight: normal;
    }

    .hobbies-and-skills h1 {
        font-size: 3vw;
        font-weight: normal; 
    }

    .hobbies-and-skills p {
        font-size: 1.8vw;
        font-weight: normal;
    }

    .hobbies-and-skills p3 {
        font-size: 1.8vw; 
        font-weight: normal;
    }

    .hobbies-and-skills h3 {
        font-size: 3vw; 
        margin-top: 9vw;
        font-weight: normal;
    }
    .image-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .image-container img {
        flex-direction: row;
        width: 40%; 
        height: auto; 
        
    }

    .footer p5 {
        font-size: 1.8vw;
        font-weight: normal;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .footer p5 {
        font-size: 2vw; 
        font-weight: normal;
    }

    .nav-links ul {
        justify-content: flex-end;
        font-size: 1vw;
        font-weight: normal;
    }

    .nav-links ul li a {
        font-size: 2vw; 
        padding: 1vw;
        font-weight: normal;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .image-container img {
        flex-direction: row;
        width: 40%; 
        height: auto; 

    }
}
