* {
    margin: 0;
    padding: 0;
    font-family: Serif;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    color: white;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(Portfolio-img/black.png); 
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2vw;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vw;
    background: rgba(0, 0, 0, 0.5); 
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    margin: 1vw;
    font-size: 1vw; 
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 3vw;
    padding: 1.5vw; 
}

.footer {
    background-color: black;
    padding: 2vw; 
    text-align: center; 
    color: white; 
    font-size: 3vw; 
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 20px;
}


.icon i {
    font-size: 24px;
    margin-top: 10vw;
    color: #990000; 
    text-align: center;
    flex-direction: column;
}

.icon ul li a{
    color: white;
    
}






@media screen and (min-width: 425px) {
    .header{
        padding: 2vw;
    }
    .footer p5{
        font-size: 2vw; 
    }
    .nav-links ul li a {
        font-size: 3vw;
        padding: 2vw;
      }
      .icon i{
        font-size: 6vw;
    }  

    .icon ul li a{
        font-size: 3.5vw;  
    }

 }

@media screen and (max-width: 768px) {
    .header {
        padding: 10vw;
    }
    .footer p5{
        font-size: 2vw; 
    }
    .nav-links ul li a {
        font-size: 3vw;
        padding: 2vw;
      }
      .icon i{
        font-size: 6vw;
    }  

    .icon ul li a{
        font-size: 3.5vw;  
}
}



@media  screen and (max-width: 2560px){
    
    .nav-links ul li a {
        font-size: 3vw; 
        padding: 2vw;
      }

    .icon i{
        font-size: 6vw;
    }  

    .icon ul li a{
        font-size: 3.5vw;   
    }  
}
